/*main container*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.back-image {
  display: flex;
  background-image: url("../../assets/images/turbine.jpeg");
}

.calculator-container-1 {
  justify-content: center;
  width: 100%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  height: 450px;
  display: grid;
  padding: 10px;
  background: url("../../assets/images/sky.jpeg");
  background-size: cover;
  grid-template-columns: 0.8fr;
  grid-template-rows: 150px 150px;
  border: 1px solid black;
}

.start-container {
  justify-content: center;
  grid-column-end: span 1;
  grid-row-end: span 2;
  background-color: rgba(10, 10, 10, 0.837);
  border-radius: 8px;
}
.start-text p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
.start-text {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 50px;
  font-size: 30px;
  color: azure;
  font-weight: bold;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.goto_calc {
  position: sticky;
  border-radius: 6px;
  left: 42%;
  margin-top: 20px;
  color: aliceblue;
  border: none;
  padding: 15px 80px;
  background-image: linear-gradient(
    to right,
    rgb(29, 114, 121),
    rgb(61, 164, 228)
  );

  text-align: center;
  font-size: 15px;
}

.calculator-container-2 {
  justify-content: center;
  width: 100%;
  position: relative;
  height: 550px;
  display: grid;
  background: url("../../assets/images/sky.jpeg");
  background-size: cover;
  padding: 5px;
}

.userInput-container {
  justify-content: center;
  width: 800px;
  margin-top: 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  height: 80%;
  display: grid;

  grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr;
  grid-template-rows: 150px 150px 40px;
  background-color: rgba(10, 10, 10, 0.837);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  padding: 10px;
  border-radius: 8px;
}

.userInput-title-container {
  grid-column-end: span 4;
  grid-template-columns: 100px;
  margin-top: 0;
}

.calc-return-button {
  border: none;
  background: transparent;
  color: azure;
  position: absolute;
  top: -8%;
  left: 99%;
  margin: none;
  font-size: 20px;
}

.location-container {
  background-color: rgba(255, 255, 255, 0.914);
  border-radius: 6px;
  grid-row-end: span 1;
  text-align: center;
}

.wind-container {
  background-color: rgba(255, 255, 255, 0.914);
  border-radius: 6px;
  grid-row-end: span 1;
  text-align: center;
}

.blade-container {
  background-color: rgba(255, 255, 255, 0.914);
  border-radius: 6px;
  grid-row-end: span 1;
  text-align: center;
}

.saving-container {
  background-color: rgba(255, 255, 255, 0.914);
  border-radius: 6px;
  grid-row-end: span 1;
  text-align: center;
}

.calculate-button {
  grid-column-end: span 4;
  background-image: linear-gradient(
    to right,
    rgb(29, 114, 121),
    rgb(61, 164, 228)
  );
  border-radius: 6px;
}

.location-button {
  margin-top: 10px;
  margin-bottom: 17px;
  border-radius: 6px;
  border: 1px solid skyblue;
  font-size: 10px;
  padding: 15px 32px;
}

.location-button:hover {
  -webkit-filter: brightness(90%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.windspeed-button {
  margin-top: 10px;
  margin-bottom: 17px;
  border-radius: 6px;
  border: 1px solid skyblue;
  font-size: 10px;
  padding: 15px 32px;
}

.windspeed-button:hover {
  -webkit-filter: brightness(90%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.turbine-bladesize-text {
  margin-top: 20px;
}

.form-inputs {
  text-align: center;
  margin-top: 30px;
  border-radius: 8px;
  border: 1px solid skyblue;
  font-size: 15px;
  padding: 4px;
}

.saving-title-text {
  margin-top: 20px;
}
.saving-value {
  margin-top: 20px;
}

.calculate-savings-button {
  padding: 8px 321px;
  text-align: center;
  background-color: transparent;
  color: azure;

  border: none;
}

.calculate-button:hover {
  -webkit-filter: brightness(93%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
